*{
    box-sizing: border-box;
}

body{
    font-family: system-ui;
    margin: 0;
}

.layout {
    border: 1px solid rgb(125, 235, 169);
    display:flex;
    min-height: 100vh; /*minimus height window*/
}

.sidebar {
    width: 220px;
    border: 1px solid rgb(188, 203, 201);
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
}

.brand {
    font-weight: bold;
    border: 2px solid rgb(207, 202, 248);
    margin-bottom: 16px;
}

.menu {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(241, 232, 248);
    gap: 2px;
}

.menu-item {
    border: 1px solid transparent;
    cursor: pointer;
    text-align: left;
    padding: 10px 12px;
    border-radius:  8px;
    background:rgb(153, 191, 247);

}

.menu-item:hover {
    background-color: #ccc;
}

.menu-item:active{
    background-color: #e8e8e8;
    border-color: red;
}

.content {
    flex: 1;
    padding: 20px;
    border: 4px solid rgb(189, 213, 224);

}

.tittle {
    border: solid rgb(244, 251, 248);
    margin: 0 0 14px 0;
}
#app {
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 10px;
    background: rgb(213, 213, 244);
}