*{
    box-sizing: border-box;
}

body{
    font-family: system-ui;
    margin: 0;
}

.layout {
    display:flex;
    min-height: 100vh; /*minimus height window*/
}

.sidebar {
    width: 220px;
    border: 1px solid #ccc;
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
}

.brand {
    font-weight: bold;
    background-color:#FFF3CC;
    height: 30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(241, 232, 248);
    gap: 2px;
}

.menu-item {
    border: 1px solid transparent;
    cursor: pointer;
    text-align: left;
    padding: 10px 12px;
    border-radius:  8px;
    background-color: #99BFF7;
    color: #333;

}

.menu-item:hover {
    background-color: #D6D4FF;
    border-radius:  8px;
}

.menu-item-active{
    background-color: #E8E8E8;
    border-color: #ccc;
    border-radius:  8px;
}

.content {
    flex: 1;
    padding: 20px;
    border: 2px solid rgb(189, 213, 224);

}

.tittle {
    border: solid rgb(244, 251, 248);
    margin: 0 0 14px 0;
}
#app {
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 10px;
    background: #F4F6FB;
}

.boxFormProduct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.productFormContainer {
    border:3px solid #E2E6F0; 
    padding: 12px; 
    border-radius: 15px; 
    margin-bottom: 14px;
    width: 80%;
    background-color: #FFFFFF;
}

.btnShowAddProduct {
    width: 30%;
}

.containerList{
    background-color: #FFFFFF;
    padding: 14px;
    border-radius: 15px;
    border:3px solid #E2E6F0; 
    margin: 6px;
}

.hidden {
  display: none;
}